<template name="MenuItemsList">
<div class="container">
<h3>Item List</h3>
	   <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Category</th>
              <th data-field="price">Description</th>
              <th data-field="price">Price</th>
              <th data-field="price">Under Cooked</th>
              <th data-field="price">Vegetarian</th>
              <th data-field="price">Add</th>
              <th data-field="price">Remove</th>
          </tr>
        </thead>

        <tbody>
        {{#each allMenuItems}}
          <tr>
            <td>{{Name}}</td>
            <td>{{Category}}</td>
            <td>{{Description}}</td>
            <td>{{Price}}</td>
            <td>{{#if property}} <span class="chip orange  lighten-4">Undercooked</span> {{/if}}</td>
            <td>{{#if compareHelper Vegetarian}} <span class="chip green lighten-4">Vegetarian</span> {{/if}}</td>
            <td><a id="addToCurrentMenu" class="btn-floating btn-large teal"><i class="medium fa fa-plus"></i></a></td>
            <td><a id="deleteItemFromDB" class="btn-floating btn-large red"><i class="medium fa fa-trash"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</div>
</template>